body{
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}

.top-part{
    height: 106px;
    background: radial-gradient(75.49% 75.49% at 61.01% 75.77%, #376A9A 0%, #2B5276 100%);
    margin: 0px;
    position:relative;
}

.middle-part{
    max-width: 1170px;
    background: white;
    margin: 0 auto;
    height: 840px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.bottom-part{
    height: auto;
    background: #23415E;
    margin: 0px;
}

.top-part__logo>img{
    height: 16px;
    width: 120px;
}

.top-part__logo{
    width: 170px;
    display: inline-block;
    vertical-align: middle;
}

.top-part__header{
    height: auto;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 27px;
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width: 512px){
    .top-part__header{
        align-items: center;
        margin: 0;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 10px;
    }
    .top-part__title>p{
        height: 0px;
        display: none;
    }
    .top-part__telephone, 
    .top-part__tele-number>p, 
    .top-part__tele-logo>img{
        height: 0px;
        display: none;
    }
    .top-part__left-side{
        height: 20px;
        width: 120px;
        margin: auto;
    }
    .top-part__right-side{
        width: 170px;
        height: 52px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .dialog{
        height: 100%;
    }
  }
.top-part__title>p{
    font-size: 16px;
    color: #A9C5E0;
    font-family: sans-serif, sans-serif;
    border-left: 1px solid #A9C5E0;
    padding-left: 30px;
}

.top-part__tele-number>p{
    font-size: 16px;
    color: #A9C5E0;
    font-family: sans-serif, sans-serif;
}

.top-part__tele-number{
    width: 146px;
    text-align: left;
    margin-right: 28px;
}

.inline_block{
    display: inline-block;
    vertical-align: middle;
}

.top-part__tele-logo>img{
    width: 14px;
    height: 14px;
    margin-right: 12px;
}

.top-part__log-in-button>button{
    width: 170px;
    height: 52px;
    background: transparent;
    border: 2px solid #E5E31F;
    border-radius: 10px;
    color: #E5E31F;
    font: 18px sans-serif;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.top-part__log-in-button>button:focus{
    outline: none !important;
}

.top-part__log-in-button>button:hover{
    background: #E5E31F;
    color: blue;
}

.top-part__log-in-button>button:active{
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.bottom__items{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-part__logo img{
    width: 120px;
    height: 16px;
}

.bottom-part__menu{
    width: 370px;
}

.bottom-part__menu ul{
    list-style-type: none;
    -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
    padding-left: 0;
}

.bottom-part__menu ul li{
    list-style-position: inside;
    -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
    padding-bottom: 15px; 
}

.bottom-part__menu a{
    font: 15px sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

.bottom-part__contacts{
    width: 175px;
}

.bottom-part__contacts p{
    font: 15px sans-serif;
    color: #A9C5E0;
}

.dialog{
    width: 560px;
    height: 470px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;

    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
    border-radius: 6px;
    background-color: #fff;
    transition: 0.3s all;
}

.dialog__items{
    width: 80%;
    max-width: 430px;
    margin: 0 auto;
    margin-top: 64px;
    align-items: center;
}

.dialog__close-button img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.dialog__header{
    text-align: left;
}

.dialog__header h1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 38px;
    margin: 0;
    margin-bottom: 18px;
}

.dialog__header p{
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    margin-bottom: 48px;
}

.dialog__input input{
    width: 100%;
    max-width: 409px;
    height: 48px;
    border-radius: 6px;
    margin-bottom: 8px;
    font-family: sans-serif;
    font-size: 15px;
    color: #D0C9D6;
    padding-left: 16px;
}

.dialog__button button:focus{
    outline: none !important;
}

.dialog__button button{
    width: 100%;
    height: 52px;
    background: #E5E31F;
    border: transparent;
    border-radius: 10px;
    color: #2A4F71;
    font: 18px sans-serif;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.dialog__button>button:active{
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.dialog__button{
    margin-top: 50px;
    margin-bottom: 64px;
}

.dialog__input input:focus{
    color: #000000;
}

.middle-part__header h1{
    font-family: sans-serif;
    font-size: 38px;    
}

.middle-part__header p{
    font-family: sans-serif;
    font-size: 16px;   
    font-weight: 400; 
}

.middle-part__text textarea{
    width: 738px;
    height: 144px;
    resize: none;
    padding-top: 22px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 6px;
    border-color: #23415E;
    margin-top: 74px;
    margin-bottom: 0px
}

.middle-part__button button{
    width: 240px;
    height: 52px;
    margin-top: 110px;
    background: #E5E31F;
    border: transparent;
    border-radius: 10px;
    color: blue;
    font: 18px sans-serif;
    font-style: inherit;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.middle-part__button button:focus{
    outline: none !important;
}

.middle-part__button button:active{
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.middle-part__image img{
    width: 21px;
    height: 19px;
    margin-right: 16.5px;
}

.middle-part__image a{
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;   
    color: #2A496B;
    margin: 0;
    font-weight: 600;
}

.middle-part__image{
    display: flex;
    flex-direction: row;
}

.main__countChars{
    color: #D0C9D6;
    font-size: 12px;
    line-height: 20px;
    width: 770px;
    text-align: right;
    margin-bottom: 12px;
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 30px
}