body{
    margin: 0px;
    width: 100%;
    overflow-x: hidden;
}

.top-part{
    height: 718px;
    background: radial-gradient(75.49% 75.49% at 61.01% 75.77%, #376A9A 0%, #2B5276 100%);
    margin: 0px;
    position:relative;
}

.middle-part{
    max-width: 1170px;
    background: white;
    margin: 0 auto;
    padding-bottom: 50px;
}

.bottom-part{
    height: auto;
    background: #23415E;
    margin: 0px;
}

.top-part__logo>img{
    height: 16px;
    width: 120px;
}

.top-part__logo{
    width: 170px;
    display: inline-block;
    vertical-align: middle;
}

.top-part__header{
    height: auto;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 27px;
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

@media screen and (max-width: 512px){
    .top-part__header{
        align-items: center;
        margin: 0;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-top: 10px;
    }
    .top-part__title>p{
        height: 0px;
        display: none;
    }
    .top-part__telephone, 
    .top-part__tele-number>p, 
    .top-part__tele-logo>img{
        height: 0px;
        display: none;
    }
    .top-part__left-side{
        height: 20px;
        width: 120px;
        margin: auto;
    }
    .top-part__right-side{
        width: 170px;
        height: 52px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .dialog{
        height: 100%;
    }
  }
.top-part__title>p{
    font-size: 16px;
    color: #A9C5E0;
    font-family: sans-serif;
    border-left: 1px solid #A9C5E0;
    padding-left: 30px;
}

.top-part__tele-number>p{
    font-size: 16px;
    color: #A9C5E0;
    font-family: sans-serif;
}

.top-part__tele-number{
    width: 146px;
    text-align: left;
    margin-right: 28px;
}

.inline_block{
    display: inline-block;
    vertical-align: middle;
}

.top-part__tele-logo>img{
    width: 14px;
    height: 14px;
    margin-right: 12px;
}

.top-part__log-in-button>button{
    width: 170px;
    height: 52px;
    background: transparent;
    border: 2px solid #E5E31F;
    border-radius: 10px;
    color: #E5E31F;
    font: 18px sans-serif;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.top-part__log-in-button>button:focus{
    outline: none !important;
}

.top-part__log-in-button>button:hover{
    background: #E5E31F;
    color: blue;
}

.top-part__log-in-button>button:active{
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

@media screen and (max-width: 1200px){
    .top-part{
        height: auto;
        padding-bottom: 25px;
    }

    .bottom__items{
        padding-left: 10px;
        align-items: flex-start;
        flex-direction: column !important;
    }
}

.middle-part__header{
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.middle-part__header>h2{
    font: 28px sans-serif;
    color: #2A496B;
}

.middle__item>h3{
    font: 20px sans-serif;
    font-weight: bold;
    color: black;
}

.middle__item>p{
    font: 15px sans-serif;
    color: black;
}

.middle__item{
    width: 370px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.middle-part__elements{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.bottom__items{
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom-part__logo img{
    width: 120px;
    height: 16px;
}

.bottom-part__menu{
    width: 370px;
}

.bottom-part__menu ul{
    list-style-type: none;
    -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
    padding-left: 0;
}

.bottom-part__menu ul li{
    list-style-position: inside;
    -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
    padding-bottom: 15px; 
}

.bottom-part__menu a{
    font: 15px sans-serif;
    color: #FFFFFF;
    text-decoration: none;
}

.bottom-part__contacts{
    width: 175px;
}

.bottom-part__contacts p{
    font: 15px sans-serif;
    color: #A9C5E0;
}

.dia-back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all;
}

.dialog{
    width: 560px;
    height: 470px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;

    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
    border-radius: 6px;
    background-color: #fff;
    transition: 0.3s all;
}

.dialog__items{
    width: 80%;
    max-width: 430px;
    margin: 0 auto;
    margin-top: 64px;
    align-items: center;
}

.dialog__close-button img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.dialog__header{
    text-align: left;
}

.dialog__header h1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 38px;
    margin: 0;
    margin-bottom: 18px;
}

.dialog__header p{
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    margin-bottom: 48px;
}

.dialog__input input{
    width: 100%;
    max-width: 409px;
    height: 48px;
    border-radius: 6px;
    margin-bottom: 8px;
    font-family: sans-serif;
    font-size: 15px;
    color: #D0C9D6;
    padding-left: 16px;
}

.dialog__button button{
    width: 100%;
    height: 52px;
    background: #E5E31F;
    border: transparent;
    border-radius: 10px;
    color: #2A4F71;
    font: 18px sans-serif;
    font-weight: bold;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.dialog__button{
    margin-top: 50px;
    margin-bottom: 64px;
}

.dialog__button button:focus{
    outline: none !important;
}

.dialog__input input:focus{
    color: #000000;
}

.dialog__button>button:active{
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.slider {
    width: 100%;
    height: 609px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.slider__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    width: 200%;
    height: 100%;
    transition: transform 0.6s ease;
}

.slider__item {
    display: flex;
    flex: 0 0 50%;
    width:50%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}


.slider__control_left {
    left: 0;
}

.slider__control_right {
    right: 0;
}

.active-slide {
    overflow: hidden;
    width: 200%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

.active-slide__slider {
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    transition: width 2s, height 2s, background-color 2s, transform 2s;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.text {
    width: 53%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.text-img {
    width: 1170px;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.img {
    width: 45%;
    height: 100%;
    position: relative;
}

.img__container {
    position: absolute;
    bottom: 0;
    left:0;
    width: 150%;
    height: 100%;
}

#img1{
    background: url("../pngs/s1.png") no-repeat;
    background-position: bottom left;
    background-size: 470px;
}

#img2{
    background: url("../pngs/s2.png") no-repeat;
    background-position: bottom left;
    background-size: 570px;
}

.text-top {
    font-family: sans-serif;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
    margin: 0px;
    text-align: left;
}

.text-center {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 4% 0% 15% 0%;
    text-align: left;
}

.text-button {
    background: #e5e31f;
    border-radius: 10px;
    width: 240px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-button__button {
    font-family: sans-serif;
    color: #2A4F71;
    text-decoration: none;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 40px;
        z-index: 15;
}

.bar {
    width: 8px;
    border: 3px #264160 solid;
    height: 8px;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
    z-index: 5;
}